bridges-DESKTOP-N4FQ3HL.py
wk4_lecture_example1-DESKTOP-N4FQ3HL.py
wk4_tutorial_example1-DESKTOP-N4FQ3HL.py

main.py
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Truss Forces Calculator.iml
/.idea/Truss Forces Calculator-DESKTOP-N4FQ3HL.iml
/.idea/vcs.xml
/.idea/workspace-DESKTOP-N4FQ3HL.xml
